a{
    text-decoration: none;
}

.card{
    border-radius: 4px;
    margin: 10px auto;
    background-color: white;
    max-width:200px;
}

.card a{
    word-wrap: break-word;
}

.card a img{
    padding: 60px;
    transition: 0.5s;
    width: 100%;
    height: auto;
}
.card a img:hover{
    opacity: 0.6;
}

.card .details{
    padding: 10px;
}

.card .details a{
    color: black;
    text-transform: uppercase;
}
.card .details h5{
    margin: 0;
}

.card .details a:hover{
    color: rgb(56, 56, 56);
}