/* 
---Color Shades---
PRIMARY: #6a89cc
SECONDARY: #93cfdd
------------------
*/
@import url('https://fonts.googleapis.com/css2?family=Domine&display=swap');

body {
  margin: 0;
  font-family: Domine,Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url("./images/background.png");
  background-position: left top;
  background-size: auto;
  background-repeat: repeat;
  background-attachment: fixed;
}
